@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #293845;
    padding: 120px 20px 150px;
}

h1 {
    font-size: 24px;
    letter-spacing: 0.04em;
    text-align: center;
    margin-bottom: 50px;
}

h2 {
    font-size: 20px;
    letter-spacing: 0.02em;
}

h3 {
    font-size: 26px;
}

h1, h2, h3 {
    font-weight: 400;
}

img {
    width: 100%;
    height: 100%;
}

button {
    background-color: #e8833a;
    border-radius: 3px;
    border: none;
    font-size: 18px;
    letter-spacing: 0.04em;
    color: #ffffff;
}

button:active {
    filter: brightness(80%);
}

header {
    width: 100%;
    height: 67px;
    background-color: #c3cfd9;
    display: flex;
    font-size: 34px;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    color: #e8833a;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

header button {
    position: absolute;
    top: 35%;
    left: 20px;
}

main div.movies-list {
    width: 100%;
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 10%;
    row-gap: 10px;
}

main div.movies-list div.movie {
    background-color: #ffffff;
    padding: 8px;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

main div.movies-list div.movie:active {
    filter: brightness(50%);
}

section.sessions-list div.day div.sessions {
    display: flex;
    margin: 15px 0 30px;
}

section.sessions-list div.day div.sessions button {
    width: 83px;
    height: 43px;
    margin-right: 10px;
}

section.sessions-list div.day div.sessions div.session:active {
    filter: brightness(50%);
}

section.select-seats {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.select-seats h1 {
    margin-bottom: 25px !important;
}

section.select-seats div.seats-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 8%);
    row-gap: 13px;
    justify-content: space-between;
    margin-bottom: 15px;
}

section.select-seats div.seats-list div.seat {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid;
}

section.select-seats div.seats-list div.seat.available {
    background-color: #c3cfd9;
    border-color: #7b8b99;
}

section.select-seats div.seats-list div.seat.unavailable {
    background-color: #fbe192;
    border-color: #f7c52b;
}

section.select-seats div.seats-list div.seat.selected {
    background-color: #8dd7cf;
    border-color: #1aae9e;
}

section.select-seats div.seats-list div.seat span {
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.04em;
    color: #000000;
    margin: 30%;
}

section.select-seats div.seat-classes {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}

section.select-seats div.seat-classes div.seat-class {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -0.013%;
    color: #4e5a65;
}

section.select-seats div.seat-classes div.seat-class div.seat {
    width: 27px;
    height: 27px;
    border: 1px solid;
    border-radius: 50%;
    margin-bottom: 5px;
}

section.select-seats div.seat-classes div.seat-class div.seat.available {
    background-color: #c3cfd9;
    border-color: #7b8b99;
}

section.select-seats div.seat-classes div.seat-class div.seat.unavailable {
    background-color: #fbe192;
    border-color: #f7c52b;
}

section.select-seats div.seat-classes div.seat-class div.seat.selected {
    background-color: #8dd7cf;
    border-color: #1aae9e;
}

section.select-seats div.buyer-data {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}

section.select-seats div.buyer-data input {
    width: 100%;
    height: 50px;
    border: 1px solid #D5D5D5;
    border-radius: 3px;
    font-size: 18px;
    margin: 3px 0 15px;
}

section.select-seats div.buyer-data input::placeholder {
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    color: #afafaf;
}

section.select-seats button {
    width: 230px;
    height: 45px;
}

footer {
    width: 100%;
    height: 120px;
    background-color: #dfe6ed;
    padding: 15px 10px;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
}

footer div.movie {
    background-color: #ffffff;
    padding: 5px;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    margin-right: 15px;
}

footer div.movie-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

section.success-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.success-screen > h1 {
    font-weight: 700 !important;
    color: #247a6b !important;
}

section.success-screen div.info {
    width: 100%;
    margin-bottom: 35px;
}

section.success-screen div.info h1 {
    text-align: left !important;
    font-weight: 700 !important;
    margin-bottom: 10px !important;
}

section.success-screen div.info p {
    font-size: 22px;
    letter-spacing: 0.04em !important;
    font-weight: 400;
}

section.success-screen button {
    width: 230px;
    height: 45px;
    margin-top: 30px;
}